<!--
  {{name}} interpolation
  Property Binding
  name="{{name}}" is equat with [name]=""
  @Output clickHello using at hello component is bind like event
-->
<hello name="{{ name }}" (clickHello)="nothingFromChild($event)"></hello>
<!-- 
  Template variables help you use data from one part of a template in another part of the template. Use template variables to perform tasks such as respond to user input or finely tune your application's forms.
  A template variable can refer to the following:
  a DOM element within a template,a directive,an element,TemplateRef,a web component
  (#ref,#customform, #whateveryouwant)
-->
<form #customform="ngForm" (ngSubmit)="onSubmit(customform)" novalidate>
  <!-- ngModel is One of Attribute Directives -->
  <!-- [(ngModel)] use for two way binding, bind with class property-->
  <input type="text" [(ngModel)]="name" #ref name="version" />{{ ref.value }}
  <br />
  <!-- Two Way Binding with Form Value-->
  <input type="text" name="appname" ngModel />
  {{ customform.value.appname }}
  <br />
  <select name="country" id="" *ngIf="countries.length > 0">
    <option *ngFor="let country of countries" value="">
      {{ country.name }}
    </option>
  </select>
  <br />
  <button type="submit">Submit</button>
</form>

<!-- Class Binding [ngClass] or [class]-->
<!-- [(ngModel)] and [ngClass] are Attribute Directives -->
<!-- without [], Angular will treat the right hand side as string -->
<p class="" [ngClass]="name" style="" (click)="showMessage($event)">Magic</p>

<!-- 
  Why![colspan] is error?
  colspan is Attribute,
  colSpan is Property 
-->
<table>
  <tr>
    <!-- <td [colSpan]="name"></td> -->
    <!-- Attribute Binding And Style Binding-->
    <td [attr.colspan]="3" [style.display]="{name}">Some</td>
  </tr>
</table>

<!-- ngFor is One of Structure Directives -->
<!-- ngIf is One of Structure Directives -->
<div *ngFor="let l of loop" style.background="blue">
  <div *ngIf="l != 3">loop {{ l }}</div>
</div>
<!-- What is Structure Directive and Attribute Attribute-->
